:root {
  --font-inter: "Inter", sans-serif;
  --font-edu-sa: "Edu SA Beginner", cursive;
  --font-mono: "Roboto Mono", monospace;

  --white: #fff;
  --black: #000;
  --transparent: #ffffff00;

  /* Rich Black */
  --richblack-5: #f1f2ff;
  --richblack-25: #dbddea;
  --richblack-50: #c5c7d4;
  --richblack-100: #afb2bf;
  --richblack-200: #999daa;
  --richblack-300: #838894;
  --richblack-400: #6e727f;
  --richblack-500: #585d69;
  --richblack-600: #424854;
  --richblack-700: #2c333f;
  --richblack-800: #161d29;
  --richblack-900: #000814;

  /* Rich Blue */
  --richblue-5: #ecf5ff;
  --richblue-25: #c6d6e1;
  --richblue-50: #a0b7c3;
  --richblue-100: #7a98a6;
  --richblue-200: #537988;
  --richblue-300: #2d5a6a;
  --richblue-400: #073b4c;
  --richblue-500: #063544;
  --richblue-600: #042e3b;
  --richblue-700: #032833;
  --richblue-800: #01212a;
  --richblue-900: #001b22;

  /* Blue */
  --blue-5: #eaf5ff;
  --blue-25: #b4daec;
  --blue-50: #7ec0d9;
  --blue-100: #47a5c5;
  --blue-200: #118ab2;
  --blue-300: #0f7a9d;
  --blue-400: #0c6a87;
  --blue-500: #0a5a72;
  --blue-600: #074b5d;
  --blue-700: #053b48;
  --blue-800: #022b32;
  --blue-900: #001b1d;

  /* Caribbean Green */
  --caribbeangreen-5: #c1fffd;
  --caribbeangreen-25: #83f1de;
  --caribbeangreen-50: #44e4bf;
  --caribbeangreen-100: #06d6a0;
  --caribbeangreen-200: #05bf8e;
  --caribbeangreen-300: #05a77b;
  --caribbeangreen-400: #049069;
  --caribbeangreen-500: #037957;
  --caribbeangreen-600: #026144;
  --caribbeangreen-700: #014a32;
  --caribbeangreen-800: #01321f;
  --caribbeangreen-900: #001b0d;

  /* Brown */
  --brown-5: #fff4c4;
  --brown-25: #ffe395;
  --brown-50: #ffd166;
  --brown-100: #e7bc5b;
  --brown-200: #cfa64f;
  --brown-300: #b89144;
  --brown-400: #a07c39;
  --brown-500: #88662d;
  --brown-600: #705122;
  --brown-700: #593c17;
  --brown-800: #41260b;
  --brown-900: #291100;

  /* Pink */
  --pink-5: #fff1f1;
  --pink-25: #fbc7d1;
  --pink-50: #f79cb0;
  --pink-100: #f37290;
  --pink-200: #ef476f;
  --pink-300: #d43d63;
  --pink-400: #ba3356;
  --pink-500: #9f294a;
  --pink-600: #841e3e;
  --pink-700: #691432;
  --pink-800: #4f0a25;
  --pink-900: #340019;

  /* Yellow */
  --yellow-5: #fff970;
  --yellow-25: #ffe83d;
  --yellow-50: #ffd60a;
  --yellow-100: #e7c009;
  --yellow-200: #cfab08;
  --yellow-300: #b69507;
  --yellow-400: #9e8006;
  --yellow-500: #866a04;
  --yellow-600: #6e5503;
  --yellow-700: #553f02;
  --yellow-800: #3d2a01;
  --yellow-900: #251400;

  /* Pure Greys */
  --pure-greys-5: #f9f9f9;
  --pure-greys-25: #e2e2e2;
  --pure-greys-50: #cccccc;
  --pure-greys-100: #b5b5b5;
  --pure-greys-200: #9e9e9e;
  --pure-greys-300: #888888;
  --pure-greys-400: #717171;
  --pure-greys-500: #5b5b5b;
  --pure-greys-600: #444444;
  --pure-greys-700: #2d2d2d;
  --pure-greys-800: #171717;
  --pure-greys-900: #141414;

  --max-width-content: 1260px;
  --max-width-tab: 650px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--richblack-900);
}

.app-wrapper {
  width: 100%;
  height: 100%;
}


.w-11-12{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 91.66%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  color: var(--white);
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-left: 0;
  margin-right: 0;
  background: var(--richblack-800);
  border-radius: 9999px;
  box-shadow: 0px -1px 0px 0px #FFFFFF2E inset;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover{
  transform: scale(0.95);
  background-color: #000;
  box-shadow: 0 1px 0 0 #FFFFFF2E inset, 0 -1px 0 0 #FFFFFF2E inset, 1px 0 0 0 #FFFFFF2E inset, -1px 0 0 0 #FFFFFF2E inset;
}

.button:hover .btn-items p{
  color: var(--richblack-5);
}

.btn-items{
font-family: var(--font-inter);
padding: 10px 5px;
font-weight: 500;
font-size: 16px;
gap: 10px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
color: #999DAA;
border-radius: 9999px;
}

.content{
width: 913;
height: 108;
margin-top: 2rem;
gap: 16px;
}

.content-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-items h1{
font-family: --font-inter;
font-weight: 600;
font-size: 36px;
line-height: 44px;
letter-spacing: -2%;
text-align: center;
color: var(--richblack-5);
}

.content-items p{
font-family: var(--font-inter);
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
color: var(--richblack-300);
}

.active-style {
  background-color: var(--yellow-50);
  color: #000000;             /* text-black */
}

.default-style {
  background-color: #0B0F19;  /* richblack-800 or your preferred dark shade */
  color: white;
}

.active-style:hover,
.default-style:hover {
opacity: 0.95; /* optional hover effect */
}

.ctaBtn{
width: 135;
height: 48;
gap: 8px;
border-radius: 8px;
padding-top: 12px;
padding-right: 24px;
padding-bottom: 12px;
padding-left: 24px;
box-shadow: -1px -1px 0px 0px #FFFFFF82 inset;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ctaBtn:hover{
  transform: scale(0.95);
}

.custom-shadow {
  box-shadow: 10px -5px 50px -5px var(--blue-200);
  height: auto;
}

.custom-video-shadow {
  box-shadow: 20px 20px 0px 0px #F5F5F5;
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.text-yellow-25{
  color: var(--yellow-25);
}

.text-white{
  color: var(--white);
}

.code-border{
width: 470;
height: 278;
gap: 8px;
padding: 8px;
background: linear-gradient(111.93deg, rgba(130, 133, 138, 0.24) -1.4%, rgba(17, 30, 50, 0.38) 104.96%);
backdrop-filter: blur(52px);
}


.codeblock1 {
  position: absolute;
  width: 372.95px;
  height: 257.05px;
  left: calc(50% - 372.95px / 2 - 76.53px);
  top: calc(50% - 257.05px / 2 - 47.47px);
  border-radius: 100%;
  background: linear-gradient(
    123.77deg,
    #8a2be2 -6.46%,
    #ffa500 59.04%,
    #f8f8ff 124.53%
  );
  opacity: 0.2;
  filter: blur(34px);
  transform: matrix(1, 0, -0.03, 1, 0, 0);
}


.codeblock2{
  position: absolute;
  width: 372.95px;
  height: 257.05px;
  left: calc(50% - 372.95px / 2 - 76.53px);
  top: calc(50% - 257.05px / 2 - 47.47px);
  border-radius: 100%;
  background: linear-gradient(
    118.19deg,
    #1fa2ff -3.62%,
    #12d8fa 50.44%,
    #a6ffcb 104.51%
  );
  opacity: 0.2;
  filter: blur(34px);
  transform: matrix(1, 0, -0.03, 1, 0, 0);
}


.code-border {
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to right bottom, #ffffff38, #ffffff00);
  background: linear-gradient(
    111.93deg,
    rgba(14, 26, 45, 0.24) -1.4%,
    rgba(17, 30, 50, 0.38) 104.96%
  );
  /* backdrop-filter: blur(26px); */
}
.section-2{
  background: #F9F9F9;
;
  color: var(--richblack-700);
}

.bg-banner{
  background-image: url(../src/assets/Images/bghome.svg);
  height: 320px;
  width: 100vw; 
}

.logo-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #FFFFFF;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 62px 0px #0000001F;
}

.border-dotted {
  border-style: dotted !important;
  color: #026144;
}

.timeline-img{
  width: 714;
  height: 545;
  box-shadow: 20px 20px 0px 0px #FFFFFF;
}
